<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Py-Ass-Test-Util{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>TESTER SITE</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        <li>
          <a href="{% url 'simple_form' %}">Files submission</a>
        </li>
        
        
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
        <ul>
          <li>
           <a href="{% url 'simple_upload' %}">Puzzle Upload</a>
          </li>
          
        </ul>
        
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
